<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RabbitMQWorkQueues/src/com/capgemini/workqueues/Worker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.capgemini.workqueues.Worker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="I'm Parmeshwar. I have been here to study"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RabbitMQWorkQueues"/>
</launchConfiguration>
